.navbar
    display: flex
    justify-content: space-between
    align-items: center
    &-links
        &__link
            text-decoration: none
            text-transform: uppercase
            margin-right: 30px
            font-size: 14px
            line-height: 16px
            letter-spacing: 0.1em
            color: $text-white
            +bold
        &__link:last-child
            margin-right: 0
    &-other
        display: flex
        align-items: center
    &-lang
        &__item
            text-decoration: none
            font-size: 14px
            line-height: 16px
            letter-spacing: 0.1em
            text-transform: uppercase
            color: $text-white
            +bold
    &-social
        position: relative
        margin-left: 47px
        &__item
            text-decoration: none
        &__item:last-child
            margin-left: 10px
    &-social::before
        content: ''
        position: absolute
        left: -15px
        top: 0
        height: 100%
        width: 0.1px
        background-color: $text-black
