@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../fonts/Bebas/BebasNeueBold.eot");
  src: url("../fonts/Bebas/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Bebas/BebasNeueBold.woff") format("woff"), url("../fonts/Bebas/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
  color: #1A1917;
  font-size: 18px;
}

.container {
  width: 1240px;
  margin: auto;
}

.btn {
  border: none;
  background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn-text, .btn-price {
  font-size: 16px;
  line-height: 22px;
  color: #1A1917;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 900;
}

.btn-price {
  margin-left: 26px;
  position: relative;
}

.btn-price::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #222;
}

.btn:hover {
  background: #ffca7b;
}

input {
  border-style: none;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  color: #FFB548;
  padding: 26px 0 5px 21px;
}

input:focus {
  outline: none;
  border: 1px solid #FFB548;
}

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0;
}

button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

input, textarea, select {
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
  border: 1px solid #333;
}

td, th {
  padding: 20px 20px 40px 20px;
  border: 1px solid #333;
}

@media (max-width: 1320px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 820px) {
  .container {
    max-width: 700px;
    width: 85%;
  }
  .btn {
    font-size: 14px;
    line-height: 19px;
  }
  td, th {
    padding: 9px;
  }
}

.hero {
  padding-top: 20px;
  background: url("../img/hero/bg.jpg") no-repeat center top/cover;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 220px;
  margin-bottom: 360px;
}

.hero-content__title {
  margin: 0;
  margin-bottom: 7px;
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  color: #FFFFFF;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.hero-content__subtitle {
  margin-bottom: 29px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFFFFF;
  display: inline-block;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.hero-content__btn {
  margin: auto;
  width: 270px;
  height: 60px;
}

.hero-scroll {
  padding-bottom: 20px;
}

.hero-scroll__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.hero-scroll__text {
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 900;
}

@media (max-width: 820px) {
  .hero-content {
    margin-top: 175px;
    margin-bottom: 175px;
  }
  .hero-content__title {
    font-size: 33px;
    line-height: 33px;
  }
  .hero-content__subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .hero-content__btn {
    width: 260px;
    height: 44px;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-logo {
  width: 55px;
  height: 55px;
}

.navbar-logo__img {
  width: 55px;
  height: 55px;
}

.navbar-links__link {
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 30px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 900;
}

.navbar-links__link:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #FFB548;
}

.navbar-links__link:last-child {
  margin-right: 0;
}

.navbar-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-lang {
  margin-top: -5px;
}

.navbar-lang__item {
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 900;
}

.navbar-social {
  position: relative;
  margin-left: 47px;
}

.navbar-social__item {
  text-decoration: none;
}

.navbar-social__item:last-child {
  margin-left: 10px;
}

.navbar-social::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 0.1px;
  background-color: #222;
}

.navbar-menu {
  display: none;
  margin-left: 30px;
  position: relative;
}

.navbar-menu::before {
  content: '';
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 0.1px;
  background-color: #222;
}

@media (max-width: 1320px) {
  .navbar-links, .navbar-social {
    display: none;
  }
  .navbar-menu {
    display: block;
  }
}

@media (max-width: 820px) {
  .navbar-logo {
    width: 33px;
    height: 33px;
  }
  .navbar-logo__img {
    width: 33px;
    height: 33px;
  }
}

.story {
  padding-top: 200px;
  padding-bottom: 150px;
  background: url("../img/story/bg.jpg") no-repeat center top/cover;
  color: #FFFFFF;
}

.story-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story-text {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.story-text__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.story-text__title {
  position: relative;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 72px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.story-text__title::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background-color: #FFFFFF;
}

.story-text__subtitle {
  text-align: justify;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  margin-left: 190px;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.story-text__subtitle__under {
  position: relative;
}

.story-text__subtitle__under::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background-color: #FFB548;
}

.story-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-item {
  width: 503px;
  height: 610px;
  border-radius: 5px;
}

.slider-arrow {
  margin-left: 50px;
}

.arrow-right {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 1320px) {
  .story-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .story-text {
    -ms-flex-preferred-size: fill;
        flex-basis: fill;
    margin-bottom: 40px;
  }
  .story-text__subtitle {
    margin-left: 0;
  }
}

@media (max-width: 820px) {
  .story {
    padding-top: 48px;
    padding-bottom: 37px;
  }
  .story-text__pretitle {
    font-size: 18px;
    line-height: 18px;
  }
  .story-text__title {
    font-size: 33px;
    line-height: 33px;
    margin-top: 5px;
    margin-bottom: 34px;
  }
  .story-text__title::after {
    bottom: -4px;
  }
  .story-text__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .slider-item {
    max-width: 503px;
    max-height: 610px;
    width: 85%;
    height: 85%;
  }
  .slider-arrow {
    margin-left: 30px;
  }
  .arrow-right {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.features {
  padding-top: 258px;
  padding-bottom: 258px;
  background: url("../img/features/bg.jpg") no-repeat center top/cover;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.features-text__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.features-text__title {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 70px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.features-plan {
  margin-left: 30px;
}

.features-plan__title {
  position: relative;
  margin: 0;
  margin-top: 37px;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 2px;
  color: #FFB548;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.features-plan__title:first {
  margin: 0;
  margin-bottom: 5px;
}

.features-plan__title::before {
  content: url(../img/features/round.svg);
  position: absolute;
  left: -30px;
  top: -5px;
}

.features-plan__description {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  max-width: 365px;
  width: 100%;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

@media (max-width: 820px) {
  .features {
    padding-top: 85px;
    padding-bottom: 85px;
  }
  .features-text {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .features-text__pretitle {
    font-size: 18px;
    line-height: 18px;
  }
  .features-text__title {
    font-size: 33px;
    line-height: 33px;
    margin-top: 2px;
    margin-bottom: 30px;
  }
  .features-plan__title {
    margin-top: 27px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 21px;
  }
  .features-plan__description {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 420px) {
  .features-text {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

.system {
  padding-top: 145px;
  padding-bottom: 170px;
  background: url("../img/system/bg.jpg") no-repeat center top/cover;
  color: #FFFFFF;
}

.system-text {
  text-align: center;
}

.system-text__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.system-text__title {
  margin: 0;
  margin-top: 9px;
  margin-bottom: 135px;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.system-table {
  width: 580px;
}

.system-table__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #FFB548;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.system-table__subtitle {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

@media (max-width: 1320px) {
  .system-req {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 820px) {
  .system {
    padding-top: 68px;
    padding-bottom: 203px;
  }
  .system-text {
    text-align: center;
  }
  .system-text__pretitle {
    font-size: 18px;
    line-height: 18px;
  }
  .system-text__title {
    margin-top: 5px;
    margin-bottom: 71px;
    font-size: 33px;
    line-height: 33px;
  }
  .system-table {
    max-width: 580px;
    width: 95%;
  }
  .system-table__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 18px;
  }
  .system-table__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.quotes {
  padding-top: 200px;
  padding-bottom: 150px;
  background: url("../img/quotes/bg.jpg") no-repeat center top/cover;
  color: #FFFFFF;
}

.quotes-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quotes-text {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.quotes-text__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.quotes-text__title {
  position: relative;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 62px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.quotes-text__subtitle {
  text-align: justify;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 435px;
  margin-bottom: 50px;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.quotes-text__btn {
  padding: 20px 27px;
}

.quotes-reviews {
  width: 630px;
}

.quote {
  display: block;
  width: 455px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 30px;
  margin-right: 0;
}

.quote-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.quote-header__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote-header__img {
  border-radius: 50%;
  width: 62px;
  height: 62px;
}

.quote-header__user {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote-header__name {
  color: #FFB548;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.quote-header__work {
  font-size: 18px;
  line-height: 22px;
  opacity: .5;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.quote-header__social {
  margin-top: -26px;
}

.quote-text {
  display: inline-block;
  max-width: 407px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 20px;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.quote-footer {
  display: block;
  font-size: 14px;
  line-height: 19px;
  opacity: .5;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.quote:first-child {
  margin-left: 160px;
}

.quote:last-child {
  margin-bottom: 0;
  margin-left: 100px;
}

@media (max-width: 1320px) {
  .quotes-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quotes-text {
    text-align: center;
  }
  .quotes-text__btn {
    display: block;
    margin: auto;
  }
  .quotes-reviews {
    margin-top: 50px;
  }
}

@media (max-width: 820px) {
  .quotes {
    padding-top: 48px;
    padding-bottom: 37px;
  }
  .quotes-text__pretitle {
    font-size: 18px;
    line-height: 18px;
  }
  .quotes-text__title {
    font-size: 33px;
    line-height: 33px;
    margin-top: 5px;
    margin-bottom: 34px;
  }
  .quotes-text__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .quotes-text__btn {
    padding: 13px 15px;
  }
  .quotes-reviews {
    max-width: 630px;
    width: 100%;
  }
  .quote {
    max-width: 630px;
    width: 100%;
  }
  .quote-header {
    margin-bottom: 15px;
  }
  .quote-header__img {
    width: 40px;
    height: 40px;
  }
  .quote-header__user {
    margin-left: 23px;
  }
  .quote-header__name {
    font-size: 21px;
    line-height: 21px;
  }
  .quote-header__work {
    font-size: 14px;
  }
  .quote-text {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
  }
  .quote-footer {
    font-size: 12px;
    line-height: 16px;
  }
  .quote:first-child {
    margin-left: 0;
  }
  .quote:last-child {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.subscribe {
  padding-top: 200px;
  background: url("../img/subscribe/bg.jpg") no-repeat center top/cover;
  color: #FFFFFF;
}

.subscribe-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subscribe-text {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.subscribe-text__pretitle {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 2px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.subscribe-text__title {
  position: relative;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 3px;
  max-width: 677px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 62px;
  font-family: Bebas Neue Bold, sans-serif;
  font-weight: 900;
}

.subscribe-text__subtitle {
  position: relative;
  text-align: justify;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  max-width: 570px;
  position: relative;
  margin-bottom: 50px;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.subscribe-text__subtitle::after {
  content: 'Your email address';
  position: absolute;
  left: 21px;
  top: 144px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.5;
}

.subscribe-text__btn {
  padding: 20px 27px;
  width: 225px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.subscribe-input {
  height: 60px;
  width: 330px;
  margin-right: 18px;
}

@media (max-width: 1320px) {
  .subscribe-img {
    display: none;
  }
}

@media (max-width: 820px) {
  .subscribe {
    padding-top: 70px;
  }
  .subscribe-text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .subscribe-text__pretitle {
    font-size: 18px;
    line-height: 18px;
  }
  .subscribe-text__title {
    font-size: 33px;
    line-height: 33px;
    margin-top: 6px;
    margin-bottom: 20px;
  }
  .subscribe-text__subtitle {
    font-size: 14px;
    line-height: 19px;
    max-width: 650px;
    width: 100%;
    margin-bottom: 45px;
  }
  .subscribe-text__subtitle::after {
    content: '';
  }
  .subscribe-text__btn {
    padding: 15px;
    max-width: 650px;
    width: 100%;
    height: 60px;
  }
  .subscribe__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe-input {
    max-width: 650px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer {
  padding-bottom: 60px;
  background: url("../img/subscribe/bg.jpg") no-repeat center top/cover;
  color: #FFFFFF;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.footer-data-logo__img {
  width: 90px;
  height: 90px;
}

.footer-data-url__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-data-url__link {
  margin-left: 33px;
}

.footer-data-url__link:first-child {
  margin-left: 0;
}

.footer-data-url__url {
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 900;
}

.footer-data-url__url:hover {
  color: red;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer-data-social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-data-social__link {
  margin-left: 50px;
}

.footer-data-social__link:first-child {
  margin-left: 0;
}

.footer-data-social__url:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background-color: red;
}

.footer-data::after {
  content: '';
  position: absolute;
  background-color: #fff;
  opacity: .5;
  height: 2px;
  width: 100%;
  bottom: -30px;
  left: 0;
}

.footer-copy {
  margin-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copy-copyright__text {
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.5;
  font-family: 'Open Sans Regular', sans-serif;
  font-weight: 300;
}

.footer-copy-privacy__link {
  position: relative;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 900;
}

.footer-copy-privacy__link:not(:first-child) {
  margin-left: 13px;
}

.footer-copy-privacy__link:not(:first-child)::after {
  content: '';
  position: absolute;
  background-color: #fff;
  height: 100%;
  width: 1.5px;
  top: 0;
  left: -10px;
}

.footer-copy-privacy__link:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: red;
}

.url_1 {
  -webkit-mask-image: url("../img/footer/facebook.svg");
          mask-image: url("../img/footer/facebook.svg");
  width: 10px;
  height: 19px;
  background-color: #fff;
  display: block;
}

.url_2 {
  -webkit-mask-image: url("../img/footer/twitter.svg");
          mask-image: url("../img/footer/twitter.svg");
  width: 22px;
  height: 16px;
  background-color: #fff;
  display: block;
}

.url_3 {
  -webkit-mask-image: url("../img/footer/yt.svg");
          mask-image: url("../img/footer/yt.svg");
  width: 25px;
  height: 18px;
  background-color: #fff;
  display: block;
}

.url_4 {
  -webkit-mask-image: url("../img/footer/twitch.svg");
          mask-image: url("../img/footer/twitch.svg");
  width: 19.5px;
  height: 18.5px;
  background-color: #fff;
  display: block;
}

@media (max-width: 1320px) {
  .footer-data {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-data-logo__img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 820px) {
  .footer {
    padding-bottom: 30px;
  }
  .footer-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-data-url__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
  }
  .footer-data-url__link {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .footer-data-social__list {
    padding-left: 0;
  }
  .footer-data::after {
    bottom: -15px;
  }
  .footer-copy {
    margin-top: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copy-copyright {
    margin-bottom: 17px;
  }
  .footer-copy-copyright__text {
    font-size: 12px;
    line-height: 16px;
  }
  .footer-copy-privacy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-copy-privacy__link {
    margin-bottom: 10px;
    text-align: center;
  }
  .footer-copy-privacy__link:not(:first-child) {
    margin-left: 0px;
  }
  .footer-copy-privacy__link:not(:first-child)::after {
    content: '';
    width: 0;
    height: 0;
    top: 0;
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */